Redirect 301 /firstyear.html https://cs-exams.com/docs/digital-logic-design.html
Redirect 301 /secondyear.html https://cs-exams.com/docs/algorithms-and-data-structures.html
Redirect 301 /schols.html https://cs-exams.com/docs/computer-systems.html
Redirect 301 /thirdyear.html https://cs-exams.com/docs/advanced-telecommunications.html
Redirect 301 /fourthyear.html https://cs-exams.com/docs/human-factors.html
Redirect 301 /index.html https://cs-exams.com
