---
id: formal-verification
title: Formal Verification
sidebar_label: Formal Verification
---
CS4004

## Resources

-   [Module website](https://www.scss.tcd.ie/Vasileios.Koutavas/teaching/cs4004-4504/)
-   [Alex's Formal Verification solutions](https://github.com/alexandersep/Formal-Verification-Solutions)

## Questions by Year
-   [2024](https://www.tcd.ie/academicregistry/exams/assets/local/Past%20Papers%202024-2025/Semester%201%202024-2025/CS7-CSU-STU-STP/CSU55004-1%20v1.pdf)
-   [2023](https://www.tcd.ie/academicregistry/exams/assets/local/Past%20Papers%202023-2024/Semester%201/CSU%20CS7%20STU%20STP/CSU44004-1.pdf)
-   [2022](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers202223/CSU/CSU44004-1.pdf)
-   [2021](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers%20202122/SEM%201%20DREAMWEAVER%20UPLOADER%20PDF/CSU/CSU44004-901.pdf)
-   [2020 (Sat January 2021 due to Covid)](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers%20202021/CSU/CSU44004-1.pdf)
-   [2019](https://www.tcd.ie/academicregistry/exams/assets/local/past%20papers201920/CSU/CSU44004-1.PDF)
-   [2018 - December](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers2019/Semester%201%20Papers/CS/CS4004-1.PDF)
-   [2018 - January](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers2018/CS/CS4004-1.PDF)
-   [2017](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers2017/CS/CS4004-1.PDF)
-   [2016](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers2016/CS/CS4004-1.PDF)
-   [2015](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers2015/CS/CS4504-1.PDF)
