---
id: formal-verification
title: Formal Verification
sidebar_label: Formal Verification
---
CS4004

## Resources

-   [Module website](https://www.scss.tcd.ie/Vasileios.Koutavas/teaching/cs4004-4504/)

## Questions by Year

-   [2019](https://www.tcd.ie/academicregistry/exams/assets/local/past%20papers201920/CSU/CSU44004-1.PDF)
-   [2018 - December](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers2019/Semester%201%20Papers/CS/CS4004-1.PDF)
-   [2018 - January](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers2018/CS/CS4004-1.PDF)
-   [2017](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers2017/CS/CS4004-1.PDF)
-   [2016](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers2016/CS/CS4004-1.PDF)
-   [2015](https://www.tcd.ie/academicregistry/exams/assets/local/past-papers2015/CS/CS4504-1.PDF)
